[Unit]
Description=AsahiBot Slack Camera Service
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%WORKDIR%
ExecStart=%WORKDIR%/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
